asgiref==3.3.1
contourpy==1.1.1
cycler==0.12.1
Django==3.1.5
fonttools==4.47.2
html5lib==1.1
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.7.4
numpy==1.24.4
packaging==23.2
Pillow==8.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2020.5
reportlab==3.5.59
six==1.15.0
sqlparse==0.4.1
webencodings==0.5.1
zipp==3.17.0
